@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
    @apply dark:text-white;
    @apply dark:bg-black;
    @apply dark:bg-opacity-40;
}

.ql-blank::before {
    @apply dark:text-gray-500;
}

.ql-toolbar.ql-snow {
    @apply dark:bg-gray-300;
    @apply dark:border-none;
    @apply dark:text-white;
    @apply bg-gray-200;

}

.ql-container.ql-snow {
    @apply dark:border-none;
}

.ql-snow {
    @apply dark:text-white;
}


.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.dark .post-content a {
    color: red;
}